@using BlazorCoreHybrid.Components

@{
    ViewData["Title"] = "Todo Page";
}

<h2>Todo lista</h2>


<component type="typeof(BlazorCoreHybrid.Components.Todo)" render-mode="Server" param-AutoLoad="Model" />

<!--


-->