* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body { 
    background-color: #F5AAD2; 
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    padding: 3vh;
    color: white;
}

p {
    color: white;
}

.container {
    background-color: #FDDBED;
    width: 55%;
    height: auto;
    display: flex;
    padding: 1vw;
    flex-flow: column;
    margin: 3vh auto;
    border-radius: 1em;
    box-shadow: 12px 12px 2px 1px rgba(228, 104, 176, 0.332);
} 

.vasen {
    width: 50%;
    height: 50%;
    background-color: #DD599F;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 1em;
}

.oikea {
    width: 50%;
    height: 50%;
    background-color: #EB7EB7;
    border: 1px solid white;
    align-self: flex-end;
    padding: 0.5em;
    border-radius: 1em;
}

@media only screen and (max-width: 650px) {
    body {
      background-color: #7AB1D8;
    }
    .container {
        width: 80%;
        height: auto;
        background-color: #DBEDFA;
        box-shadow: -12px 12px 2px 1px rgba(93, 148, 184, 0.518);
    }

    .vasen {
        align-self: flex-end;
        background-color: #A8D0EC;
    }

    .oikea {
        align-self: flex-start;
        background-color: #5492BD;
    }
  }

  @media only screen and (max-width: 425px) { 
    .vasen {
        width: 100%;
        background-color: #FFD24C;
    }
    .oikea {
        width: 100%;
        background-color: #FFC720;
    }
    .container {
        background-color: #FFEAAD;
        box-shadow: 0px 12px 2px 1px rgba(225, 197, 94, 0.681);
    
    }

    body {
        background-color: #FFDD78;
    }
  }

  @media only screen and (min-width: 1024px) { 
   .container {
        max-width: 40%;
   }
  }