@using SecondOfMany.Models.ViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="d-flex justify-content-center">
    <div class="home card py-2">
        <h1 class="card-title text-center display-6">ASDASDA</h1>
        <div class="card-body d-flex justify-content-center">
            
        </div>
    </div>
</div>
