* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

.active > .nav-link {
   text-decoration: underline;
   font-weight: bold;
   text-underline-offset: 1vh;
}

.nav-item + .nav-item {
    padding-left: 3vw;
}

nav {
    transition: background .5s;
}
nav.scrolled {
    padding: 0.5vh;
    margin: 0;
    font-size: x-small;
}

.bg-img {
    width: 100%;
    padding-top: 15vh;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(21, 26, 57, 0.559), rgba(13, 18, 49, 0.52)),
    url(kuvat/Electrician-at-work-801547-scaledd.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}

span {
    color: #7e9de1;
}

hr {
    width: 50%;
    margin: 2em auto;
}

