@{
    var partialName = ViewData["Title"] = "Add Category Page";
}

@using Phase7.Models.ViewModels
@model CategoryViewModel

<div class="pt-3 content d-flex text-black justify-content-center">
   <form class="w-75" id="categoryForm" asp-controller="Pages" asp-action="_AddCategory" method="post">
       @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="name" class="label-control"></label>
            <input asp-for="name" class="form-control" />
            <small class="form-text text-muted">Name of the category</small>
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="form-group">
             @{
                var monthlyLimit = new SelectList(
                    new List<SelectListItem> {
                        new SelectListItem { Text = "No", Value = "false", Selected = true },
                        new SelectListItem { Text = "Yes", Value = "true" },
                    }, "Value", "Text");
            }
            <label asp-for="monthlyLimit" class="label-control"></label>
            @Html.DropDownListFor(m => m.monthlyLimit, monthlyLimit, new { @class="monthlyLimit form-control" })
             <small class="form-text text-muted">Is there a monthly limit for this category</small>
         </div>

        <div id="amountGroup" class="form-group">
            <label asp-for="amount" class="label-control"></label>
            <input asp-for="amount" class="form-control" />
            <small class="form-text text-muted">What is the monthly limit?</small>
            <span asp-validation-for="amount" class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-custom-sm w-25">Add</button>
        </div>
    </form>
</div>