@{
    ViewData["Title"] = "Withdraw from savings";
}

@using Phase7.Models.ViewModels
@model SavingGoalViewModel

<div class="pt-3 content d-flex text-black justify-content-center">
    <form class="w-75" id="withdrawForm" asp-controller="Pages" asp-action="_WithdrawFromSaving" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="name" class="label-control"></label>
            <select asp-for="name"
                    asp-items="Model.SavingGoalsList" class="form-select">
                <option value="">-- Select saving goal --</option>
            </select>
            <small class="form-text text-muted">Select the saving goal you want to withdraw from</small>
        </div>

        <div class="form-group">
            <label asp-for="amount" class="label-control"></label>
            <input asp-for="amount" class="form-control" />
            <small class="form-text text-muted">Total amount you want to withdraw</small>
            <span asp-validation-for="amount" class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-custom-sm w-25">Withdraw</button>
        </div>
    </form>
</div>
