* {
    margin: 0;
    padding: 0;
} 
body {
    height: 100%;
    width: 100%;
    background-color: #78a1bb;
    font-family: 'Overpass', sans-serif;
    font-size: 1em;
    /*background-image: url(sininen.jpg);*/
}

.container {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    width: 40%;
    border-radius: 20px;
}

table {
    display: table;
    padding: 1vh; 
    width: 100%;
    background-color: #ebf2fa;
    border-radius: 1vh;
    table-layout: fixed;
    box-shadow: 12px 12px 2px 1px rgba(75, 41, 149, 0.2);
}

td {
    text-align: center;
}

th {
    margin-right: 1%;
    padding: 0.5vh;
    background-color: #acc5e3;
    border-radius: 1vh;
    text-align: center;
    color: white;
    font-size: 1.1em;
}
