* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: medium;
    font-weight: 500;
}

body {
    padding: 3vh;
}

.container {
    width: 70%;
    height: 80vh;
    border: 4px double rgb(157, 229, 255);
    margin: 2em auto;
    padding: 1vh 6vw 0 6vw;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 150px;
    margin: -4em auto 0;
}

.otsikko {
    padding-top: 1vh;
    text-align: center;
}

.alaotsikko {
    width: 100%;
    text-align: center;
    margin-top: -1vh;
    padding-bottom: 1vh;
}

.content{
    display: flex;
    margin: 0 auto;
    height: 60%;
    width: 90%;
    border-top: 2px solid black;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.columns {
    display: flex;
    width: 100%;
    height: 80%;
    flex-flow: column wrap;
}

.oikea {
    flex-direction: column;
    column-count: 2;
    column-gap: 0;
    width: 50%;
    height: 100%;
    padding-left: 2vw;
    padding-top: 2vh;
}

.vasen {
    width: 50%;
    height: 100%;
    border-right: 5px solid rgb(66, 66, 66);
}

#kone {
    height: 150px;
    display: block;
    float: left;
}

.vasen p {
    padding-top: 2vh;
    padding-right: 0.3em;
}

/*Testailua */
@media screen and (max-width: 1600px) {
    html {
      font-size: smaller;
    }
}

@media screen and (max-width: 1024px) {
    #kone {
        float: none;
        margin: auto;
    }
    .oikea {
        column-count: auto;
        padding-left: 3em;
    }
    .vasen p {
        margin-right: 3em;
        padding-right: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    #kone {
      display: none;
    }

    .vasen {
        text-align: center;
    }
}


@media screen and (max-width: 600px) {
    #kone {
      display: none;
    }

    .vasen {
        border: none;
        width: 100%;
        height: auto;
        padding: 1vw;
    }
    .vasen p {
        padding-right: 0;
    }

    .oikea {
        width: 100%;  
        height: auto;
        padding-top: 2vh;
    }

    .content {
        display: flex;
        justify-items: center;
        padding: 3vw;
    }

    .columns {
        flex-flow: row wrap;
    }
}