* {
    margin: 0;
    padding: 1;
}

html {
    background-color:  rgb(245, 245, 245);
}

body {
    height: 100%;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: #f0a4c0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 20px;
    padding-bottom: 4vh;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: center;
}

h1 {
    margin-top: 35px;
    color:  rgb(245, 245, 245);
    padding: 1vh;
    text-shadow: 5px 5px rgba(201, 101, 174, 0.2);
    font-weight: 600;
}

.container {
    background-color: rgb(245, 245, 245);
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 1vw;
    margin-top: 2vh;
    box-shadow: 12px 12px 2px 1px rgba(201, 101, 174, 0.2);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
    width: 15vh;
    padding: 1vh;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 2vh;
    margin-bottom: 2vh;
    animation-name: borderGleam;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a {
    color: rgb(255, 177, 211);
}

a:hover {
    color:  rgb(255, 212, 228);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vh;
}

h3, h4 {
    margin: 1vh;
    font-weight: 400;
}

ul {
    background-color: rgb(255, 212, 228);
    margin-right: 1vw;
}

ol {
    background-color: #ffc8dd;
    margin-left: 1vw;
}

ul, ol {
    text-align: left;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 20px;
}

p {
    padding-bottom: 1.5vh;
    font-weight: 200;
}

@keyframes borderGleam {
    0% {
        border: 5px dashed #f0a4c0;
    }

    100% {
        border: 5px dashed rgb(255, 212, 228);
    }
}